<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viva Assessment</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="{% url 'sign_log' %}" class="login">Login</a>
            <span id="menu-button">Menu</span>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="dropdown" id="dropdown-menu">
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="header">
            <h1>Viva Assessment</h1>
        </div>
        <div class="description">
            <p>AI Based Viva Assessment platform.</p>
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
